Xft.dpi: 96 
*dpi: 96

URxvt.background: [80]#0D363F
URxvt.foreground: #DAD5B9
URxvt.font: xft:Hack:size=12,xft:FontAwesome:size=12
URxvt.scrollBar: false
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.internalBorder: 15
URxvt.depth: 32
